.div_card {
    width: 500px;
    height: fit-content;
    background-color: rgb(159, 162, 208);
    border-radius: 25px;
    border: solid 5px #020202;
    margin: 20px;
}

.div_circulo {
    width: 100px; 
    height: 100px; 
    background-color:rgb(109, 62, 126); 
    border-radius: 50px;
}

#h1_verde {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.h1_texto {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-size: 30px;
}